/* Mobile Styles (default) */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #131727, #2B355A, #131727);
  padding: 2rem;
  height: 100vh;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 3rem; /* Ajustado para ser responsivo */
  font-weight: bold;
  color: white;
  line-height: 1.2; /* Ajustado para melhorar a leitura em telas menores */
}

.subHeading {
  font-size: 2.5rem; /* Ajustado para ser responsivo */
  font-weight: bold;
  color: #567CAB;
}

.paragraph {
  font-size: 1rem; /* Ajustado para ser responsivo */
  color: white;
  margin-top: 1.5rem;
  max-width: 90%; /* Ajusta a largura do parágrafo para telas menores */
  text-align: center;
}

.imageWrapper {
  margin: 2rem 0; /* Espaçamento vertical em torno da imagem */
}

/* Tablet Styles (iPad) */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 2.5rem;
  }

  .textWrapper {
    margin-right: 4rem;
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: left;
  }

  .headingWrapper {
    flex-direction: row;
    align-items: center;
  }

  .heading {
    font-size: 5rem;
  }

  .subHeading {
    font-size: 4.5rem;
  }

  .paragraph {
    font-size: 1.125rem;
  }
}

/* Desktop Styles (MacBook) */
@media (min-width: 1024px) {
  .container {
    padding: 3rem;
  }

  .textWrapper {
    margin-right: 6.25rem;
    width: 50%;
  }

  .heading {
    font-size: 7.5rem;
    margin-left: 250px;
    margin-top: 150px; /* Ajustado para uma posição mais adequada */
    text-align: left; /* Alinhado à esquerda para maior clareza em telas grandes */
  }

  .subHeading {
    font-size: 6rem;
    margin-left: 250px; /* Ajustado para alinhar com o título principal */
    margin-top: -10px;
  }

  .paragraph {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    max-width: 75%; /* Ajustado para largura adequada em desktops */
  }
}
