.footer {
  padding: 20px;

  text-align: center;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.footerText {
  margin-bottom: 200px; /* Espaçamento entre endereço e email */
}

.footerSocials {
  display: flex;
  gap: 15px;
}

/* Responsividade para Desktop e MacBook */
@media (min-width: 1025px) {
  .footerContainer {
    padding: 20 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footerLeft {
    flex-direction: column;
    align-items: flex-start;
  }

  .footerRight {
    align-items: flex-end;
  }

  .footerText {
    margin-bottom: 20px; /* Aumenta o espaçamento no desktop */
  }
}

/* Responsividade para Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .footerContainer {
    padding: 20px 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footerRight {
    align-items: flex-end;
  }

  .footerText {
    margin-bottom: 15px; /* Ajuste de espaçamento para tablets */
  }
}

/* Responsividade para Mobile */
@media (max-width: 767px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerLeft {
    display: none;
  }

  .footerLeft,
  .footerRight {
    align-items: center;
  }

  .footerSocials {
    justify-content: center;
  }

  .footerText {
    margin-bottom: 20px; /* Aumenta o espaçamento entre endereço e email no mobile */
  }

  .footerSocials {
    margin-top: 20px; /* Aumenta o espaçamento acima das redes sociais no mobile */
  }

  .footerLeft,
  .footerRight {
    align-items: center;
    margin-top: 30px;
  }

  .footerSocials {
    justify-content: center;
  }

  .footerText {
    margin-bottom: 10px; /* Ajuste de espaçamento para mobile */
  }

  .text-sm {
    margin-top: 30px;
  }

  .footerCopyright {
    margin-top: 30px;
  }
}
